#global-header {
    background: url("../img/banner_bg.jpg") no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 107px;
    position: relative;
    background-attachment: fixed;
}
#global-header:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
#global-header {
    color: #E3E3E4;
    margin: 0 auto;
    text-align: center;
}
#global-header h1 {
    color: #fff;
    background-color: rgba(31, 67, 151, 0.8);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    opacity: 0.8;
    text-transform: uppercase;
}
#global-header p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 3px;
}
