<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        {{ partial "header.html" . }}
        {{ partial "global_header.html" . }}

        <section class="blog section">
            <div class="container">
                <div class="row">
                    {{ range (.Paginator 6).Pages }}
                        {{ template "blog/summary.html" . }}
                    {{ end }}
                </div>
                <div class="col-12 text-center">
                    {{ template "_internal/pagination.html" . }}
                </div>
            </div>
        </section>

        {{ partial "footer.html" . }}
    </body>
</html>
