<!-- about_us Start -->
<section id="about-us">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="section-title">
                    <h2>
                        {{ .Site.Params.about_us.title }}
                    </h2>
                    <p>
                        {{ .Site.Params.about_us.italic }}
                    </p>
                </div>
                <p>
                    {{ .Site.Params.about_us.paragraph }}
                </p>
            </div>

            <div class="col-md-6 col-sm-12">
                <img src="{{ .Site.BaseURL }}/img/about_us.jpg" alt="Img">
            </div>
        </div>
    </div>
</section>
