<!-- about_us Start -->
<section id="about-us">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>
                            {{ .Site.Params.about_us.title }}
                        </h2>
                        <p>
                            {{ .Site.Params.about_us.italic }}
                        </p>
                    </div>
                    <p>
                        {{ .Site.Params.about_us.paragraph }}
                    </p>
                </div>
            </div>

            <div class="col-md-5 col-sm-12">
                <div class="block">
                    <img src="{{ .Site.BaseURL }}/img/about_us_img.png" alt="Img">
                </div>
            </div>
        </div>
    </div>
</section>
