<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="block text-center">
                    <h1 class="animated fadeInUp text-uppercase">
                        {{ .Site.Params.banner.title | safeHTML }}
                    </h1>
                    <p class="animated fadeInUp">
                        {{ .Site.Params.banner.subtitle | safeHTML }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
