<!-- Wrapper Start -->
<section id="intro">
    <div class="container">
        <div class="row">

            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>
                            {{ .Site.Params.wrapper.title }}
                        </h2>
                        <p>
                            {{ .Site.Params.wrapper.italic }}
                        </p>
                    </div>
                    <p>
                        {{ .Site.Params.wrapper.paragraph }}
                    </p>
                </div>
            </div>

            <div class="col-md-5 col-sm-12">
                <div class="block">
                    <img src="{{ .Site.BaseURL }}/img/wrapper-img.png" alt="Img">
                </div>
            </div>
        </div>
    </div>
</section>
