<!DOCTYPE html>
<html>
    <head>
    	{{ partial "head.html" . }}
    </head>
    <body>
    	{{ partial "header.html" . }}

    	{{ if and (isset .Site.Params "banner") (.Site.Params.banner.enable) }}
    		{{ partial "banner.html" . }}
    	{{ end }}

    	{{ if and (isset .Site.Params "about_us") (.Site.Params.about_us.enable) }}
    		{{ partial "about_us.html" . }}
    	{{ end }}

    	{{ if and (isset .Site.Params "what_we_do") (.Site.Params.what_we_do.enable) }}
    		{{ partial "what_we_do.html" . }}
    	{{ end }}


    	{{ if and .Site.Data.service .Site.Data.service.enable }}
    		{{ partial "service.html" . }}
    	{{ end }}

    	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
    		{{ partial "call_to_action.html" . }}
    	{{ end }}

        {{ if and (isset .Site.Params "news_and_activities") (.Site.Params.news_and_activities.enable) }}
    		{{ partial "news_and_activities.html" . }}
    	{{ end }}

    	{{ partial "footer.html" . }}
    </body>
</html>
